<div class="fundo"><video autoplay muted loop class="bgvideo">
  <source src="https://v.pinimg.com/videos/mc/expMp4/d9/a2/88/d9a28800f1e8d9e6c88c55438161ec1e_t4.mp4">
</video>
</div>
<div class="fundo2"></div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> GabeFlix</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Séries</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Movies</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="tudo">


<div class="accordion">
	<ul>
		<li>
			<div class="image_title">
				<a href="#">Transformers: The Last Knight</a>
			</div>
			<a href=""><img src="https://image.ibb.co/k7P0kS/transformers4_640x320.jpg" alt="transformers4_640x320" border="0"></a>
		</li>
		<li>
			<div class="image_title">
				<a href="#">Blade Runner 2049</a>
			</div>
			<a href="https://ibb.co/cXjfKn"><img src="https://image.ibb.co/ct9rQS/Blade_Runner2049_640x320.jpg" alt="Blade_Runner2049_640x320" border="0"></a>
		</li>
		<li>
			<div class="image_title">
				<a href="#">Guardians of the Galaxy: Vol. 2</a>
			</div>
			<a href="https://ibb.co/b4nLkS"><img src="https://image.ibb.co/jAu0kS/GOG2_640x320.jpg" alt="GOG2_640x320" border="0"></a>
		</li>
		<li>
			<div class="image_title">
				<a href="#">Spiderman: Homecoming</a>
			</div>
			<a href="https://ibb.co/mC5Uen"><img src="https://image.ibb.co/da7xX7/spiderman_homecoming_640x320.jpg" alt="spiderman_homecoming_640x320" border="0"></a>
		</li>
		<li>
			<div class="image_title">
				<a href="#">Wonder Woman</a>
			</div>
			<a href="https://ibb.co/enV1s7"><img src="https://image.ibb.co/dHdAkS/Wonder_Woman_640x320.jpg" alt="Wonder_Woman_640x320" border="0"></a>
		</li>
	</ul>
</div>
</div>
