.test {
  color: aliceblue;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 50px;

}

.fundo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

}

.bgvideo {
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 min-width: 100%;
 min-height: 100%;
 object-fit: cover;
 width: 100%;
 z-index: -100;
 width: 100;
 height: 100;
 display: flex

}

 .fundo2 {
   background-color: rgba(0, 0, 0, 0.685);
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   min-width: 100%;
   min-height: 100%;
   object-fit: cover;
   width: 100%;
   z-index: -100;
   width: 100%;
   height: 100%;
   display: flex;

 }

nav{
  height: 100px !important;
  font-size: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 100;
  width: 100%;

}

.container-fluid {
  padding: 200px;
}

.bg-dark{
  background-color: rgb(22, 15, 41) !important;
}

.navbar-brand {
  font-size: 50px;
  justify-content: center;
  margin-left: 70px;


}

nav li {
  padding: 140px;
  display: inline-block;
}

nav li a:hover {
  background-color: rgba(71, 53, 112, 0.555);
  transition: background .4s;
}

.mycontainer {
  background-color: rgb(131, 255, 127);
  display: flex;
  position: relative;
  margin: 1000px;
}
