body {
  background-color: rgba(19, 12, 46, 0.918);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: top;
  background-blend-mode:overlay;
  background-image: url(https://i.pinimg.com/564x/38/8f/31/388f313c37b56923b45195a0f3be4af9.jpg);
}
